
# Assignment 1  
<img src="files/retailPhoto.jpg">
Thie notebook will provide an overview of a sample retail dataset.

This dataset is part of the UC Irvine Machine Learning Repository:
* http://archive.ics.uci.edu/ml/index.php  

In this notebook, we'll train two classifiers to predict survivors in the [Online Retail dataset]("http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx").

In [3]:
sc = pyspark.SparkContext()

## Preview the data

In [4]:
raw_rdd = sc.textFile("Online Retail.csv")

For the number of records:

In [5]:
raw_rdd.count()

20194

To preview first 10 lines:

In [6]:
raw_rdd.take(10)

['InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country',
 '536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850,United Kingdom',
 '536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850,United Kingdom',
 '536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850,United Kingdom',
 '536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850,United Kingdom',
 '536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850,United Kingdom',
 '536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 8:26,7.65,17850,United Kingdom',
 '536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 8:26,4.25,17850,United Kingdom',
 '536366,22633,HAND WARMER UNION JACK,6,2010-12-01 8:28,1.85,17850,United Kingdom',
 '536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 8:28,1.85,17850,United Kingdom']

To filter out the header to define a new RDD containing only the data rows.

In [7]:
header = raw_rdd.first()
data_rdd = raw_rdd.filter(lambda line: line != header)

We can take a random sample of the data rows:

In [8]:
data_rdd.takeSample(False, 5, 0)

['536982,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,2,2010-12-03 14:27,3.36,,United Kingdom',
 '537781,22759,SET OF 3 NOTEBOOKS IN PARCEL,1,2010-12-08 12:46,1.65,17341,United Kingdom',
 '537655,84970L,SINGLE HEART ZINC T-LIGHT HOLDER,12,2010-12-07 16:20,0.95,15081,United Kingdom',
 '537434,22697,GREEN REGENCY TEACUP AND SAUCER,8,2010-12-06 16:57,5.91,,United Kingdom',
 '536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 8:45,0.85,12583,France']