# Assignment 3  

This assignment will use the scikit-learn to identify client segments in a databse of retail customers.  

Online Retail dataset is a fictitious dataset.

The features used for clustering are the following continous features:
1. NOTEBOOK
2. DESK_CLOCK
3. COFFEE _BOX
4. GREETING_CARD
5. TYPEWRITER
6. GIFT_WRAP 

The algorithm used is the kMeans clustering algorithm.

In [5]:
from sklearn import cluster
import pandas as pd
import numpy as np
np.random.seed(100)

In [10]:
df = pd.read_csv('Online Retail.csv')
df = df[['NOTEBOOK','DESK_CLOCK','COFFEE _BOX','GREETING_CARD','TYPEWRITER','GIFT_WRAP ']]

Group the data into 4 natural clusters and pring assigned labels.

In [12]:
k_means = cluster.KMeans(n_clusters=4)
k_means.fit(df) 
k_means.labels_

array([2, 0, 2, 2, 1, 2, 2, 2, 2, 0, 0, 2, 1, 0, 1, 2, 0, 2, 2, 2, 2, 2, 1,
       3, 1, 2, 2, 2, 0, 1, 2, 2, 2, 1, 2, 0, 1, 0, 0, 1, 1, 2, 0, 0, 2, 0,
       0, 3, 2, 0, 2, 2, 1, 0, 1, 2, 3, 0, 2, 2, 2, 3, 2, 0, 2, 3, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 3, 3, 1, 2, 1, 2, 2,
       3, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 1, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 1, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 2, 0, 0, 2, 0, 0, 0,
       2, 2, 0, 2, 0, 0, 2, 2, 2, 0, 0, 2, 0, 2, 0, 1, 2, 2, 2, 2, 1, 0, 1,
       2, 2, 2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 1, 0, 2, 2, 0, 0, 1, 2, 2, 0, 2,
       2, 2, 0, 2, 3, 2, 2, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 0, 0, 2, 2, 2, 2, 2, 3, 2,
       1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 0, 2, 0, 2, 2, 2, 2, 1, 2, 2,
       1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2,
       2, 2, 1, 1, 2, 2, 2, 2, 2, 0, 2, 3, 2, 1, 2, 2, 2, 2, 0, 0, 2, 0, 2,
       2, 0, 1, 2, 0, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 0, 1, 2, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 0, 2, 2, 2, 2, 0, 2,
       2, 2, 0, 0, 0, 2, 0, 2, 1], dtype=int32)

Now we take a subset of the observations inretail data that were assigned to cluster 0 and print out the average spent per category of purchases as well as the total.

Cluster = 0

In [13]:
i, = np.where(k_means.labels_==0)
print('Mean:')
print(df.loc[i,].mean())
print('\nTotal:')
print(df.loc[i,].mean().sum()/6)

Mean:
NOTEBOOK          4637.142857
DESK_CLOCK       10339.769231
COFFEE _BOX      16687.054945
GREETING_CARD     1452.494505
TYPEWRITER        7206.890110
GIFT_WRAP         1644.538462
dtype: float64

Total:
6994.64835165

Cluster = 1

In [15]:
i, = np.where(k_means.labels_==1)
print('Mean:')
print(df.loc[i,].mean())
print('\nTotal:')
print(df.loc[i,].mean().sum()/6)

Mean:
NOTEBOOK         36308.642857
DESK_CLOCK        5912.964286
COFFEE _BOX       6311.071429
GREETING_CARD     6591.589286
TYPEWRITER        1093.517857
GIFT_WRAP         3153.571429
dtype: float64

Total:
9895.22619048

Cluster = 2

In [17]:
i, = np.where(k_means.labels_==2)
print('Mean:')
print(df.loc[i,].mean())
print('\nTotal:')
print(df.loc[i,].mean().sum()/6)

Mean:
NOTEBOOK         9016.067925
DESK_CLOCK       3024.094340
COFFEE _BOX      3712.660377
GREETING_CARD    2796.796226
TYPEWRITER        998.845283
GIFT_WRAP        1038.516981
dtype: float64

Total:
3431.16352201

Cluster = 3

In [18]:
i, = np.where(k_means.labels_==2)
print('Mean:')
print(df.loc[i,].mean())
print('\nTotal:')
print(df.loc[i,].mean().sum()/6)

Mean:
NOTEBOOK         9016.067925
DESK_CLOCK       3024.094340
COFFEE _BOX      3712.660377
GREETING_CARD    2796.796226
TYPEWRITER        998.845283
GIFT_WRAP        1038.516981
dtype: float64

Total:
3431.16352201

Based on the results, it looks like the clusters indicate there are 3 main customer segments:small (approx. 3400), medium (approx. 7000) and large (10000).